
.background {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, rgb(255, 255, 255) 0%, rgb(185, 222, 255) 100%);
    -fx-background-position: center center;
}

.clock {
    -fx-background-color: #efefef;
    -fx-blend-mode: multiply;
    -fx-font-family: "Century Gothic";
    -fx-text-alignment: center center;
    -fx-font-size: 30;
}

.message-list {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.message-frame {
    -fx-background-color: wheat;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.message-header .message-frame{;
}

.avatar {

}