
.background {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, rgb(255, 255, 255) 0%, rgb(217, 217, 217) 100%);
    -fx-background-position: center center;
}

.clock {
    -fx-background-color: #efefef;
    -fx-blend-mode: multiply;
    -fx-font-family: "Century Gothic";
    -fx-text-alignment: center center;
    -fx-font-size: 30;
}

.cross {
    .clock;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-alignment: center;
}

.top-bar {
    -fx-background-color: #acacff;
}

.message-list {
}

.message-frame {
    -fx-border-radius: 5px;
    -fx-background-color: #fffccf;
}